:root {
	--colorTextos: black;

}

*,
::before,
::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto';
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .titulo{

 	width: 100%;    
    width: 65px;    
    height: 65px;    
    position: relative;
    bottom: 300px;
    left: -33px;
 }
 .body{
           
    background-size: 100vw 100vh;
	 background-repeat: no-repeat;
	 align-content: center;
  }

h1{
	text-align: center;
	font-weight: 700;
}

form{
	 background: #6CB1F0;  /* fallback for old browsers */
 	background-image: radial-gradient(circle at 24.15% 56.93%, #ffcf7b 0, #ffbb6b 25%, #fba156 50%, #ee8744 75%, #e57139 100%);
	padding:  40px 0;
	box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
	border-radius: 10px;
}
.form{
	width: 100%;
	margin: auto;
}
form .grupo{
	position: relative;
	margin: 45px;
}
input{
	background: none;
	color: #c6c6c6;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--colorTextos);

}
input:focus{
outline: none;
color: #5e5d5d;
}
label{
	color:var(--colorTextos);
	font-size:16px;
	position: absolute;
	left: 5px;
	top: 10px;
	transition: 0.5s ease-in-out all;
	pointer-events: none;
}
input:focus~label,
input:valid~label{
	top: -14px;
	font-size: 12px;
	color:black;

}
.barra{
	position: relative;
	display: block;
	width: 100%;
}
.barra::before{
	content: "";
	height: 2px;
	width: 0%;
	bottom: 0;
	position: absolute;
	background: linear-gradient(to right, #6CB1F0, #6CB1F0);
	transition: 0.3s ease width;
	left: 0;
} 
input:focus~.barra::before{
	width: 100%;

}
button{
	font-family: 'Roboto';
	 background: #6CB1F0;  /* fallback for old browsers */
    background: -webk it-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6CB1F0, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color:black;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
@media screen and (max-width:500px){
	form{
		width: 80%;
	}
}